/* Styles de base */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Conteneur du formulaire de connexion */
.connexion {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 4rem;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

/* Champs du formulaire */
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0px 0px 5px #28a746e8;
}

/* Bouton de soumission */
.btn-primary {
  width: 100%;
  padding: 0.75rem;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #28a746e6;
}

/* Checkbox */
.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

/* Petites infos */
small {
  font-size: 0.875rem;
  color: #6c757d;
}
.navbar,
footer {
  width: 100%;
}
